/******************************************************************************
 * Fonts
 *
 * Icon font:
 * Usually managed through IcoMoon
 * https://icomoon.io/
 *
 * Once you generate your font, download it and put it here:
 * `/assets/fonts/icon/`
 *
 * Then configure the variables for it at ./sass/config/_variables.scss
*******************************************************************************/
@font-face {
    font-family: $icon-font;
    src: url("/assets/fonts/icon/#{$icon-font}.eot?#{$icon-uuid}");
    src: url("/assets/fonts/icon/#{$icon-font}.eot?#iefix#{$icon-uuid}") format("embedded-opentype"),
         url("/assets/fonts/icon/#{$icon-font}.ttf?#{$icon-uuid}") format("truetype"),
         url("/assets/fonts/icon/#{$icon-font}.woff?#{$icon-uuid}") format("woff"),
         url("/assets/fonts/icon/#{$icon-font}.svg?#{$icon-uuid}#{$icon-font}") format("svg");
    font-weight: normal;
    font-style: normal;
    }