/******************************************************************************
 * Grid / Layout
 *
 * This is for high-level layout utilities.
*******************************************************************************/
.grid {
    font-size: 0;
    position: relative;
    text-align: left;
    }
.grid__item {
    display: inline-block;
    opacity: 0;
    padding: $wrapper-padding;
    transition: transform $ease-duration $ease,
                opacity $ease-duration $ease-out;
    transform: translate3d( 0, $nudge-size, 0 );
    vertical-align: middle;

    &.is-active {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        }
    &.is-inactive {
        opacity: 0;
        transform: translate3d( 0, 0, 0 );
        }
    }
.grid__lock {
    display: block;
    padding: 20px 5px 0;
    text-align: left;
    }



/******************************************************************************
 * Columns
*******************************************************************************/
@each $col in $grid-columns {
    .column--#{$col}of#{$grid-length} {
        width: percentage( $col / $grid-length );
        }
    .width--#{$col} {
        width: (100 / $col)#{"%"};
        }
}


.column--1of3 { width: 33.33333%; }
.column--1of4 { width: 25%; }
.column--2of3 { width: 66.66666%; }
.column--2of4 { width: 50%; }
.column--3of4 { width: 75%; }
.column--1of5 { width: 20%; }
.column--2of5 { width: 40%; }
.column--3of5 { width: 60%; }
.column--4of5 { width: 80%; }



/******************************************************************************
 * Containers
*******************************************************************************/
.wrapper {
    padding-left: $wrapper-padding;
    padding-right: $wrapper-padding;
    }
.expander {
    padding-bottom: $wrapper-padding;
    padding-top: $wrapper-padding;
    }
.inner {
    }



/******************************************************************************
 * Alignments
*******************************************************************************/
.valigner {
    display: table;
    height: 100%;
    width: 100%;
    }
.valigner__cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    }